@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Nunito+Sans:wght@600;700&display=swap");

:root {
  /* font families */
  --font-heading: "Nunito Sans", "Segoe UI", Roboto, "Helvetica Neue", Arial,
    sans-serif;
  --font-body: "Inter", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

body {
  font-family: var(--font-body);
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: 600;
}
